<div style="float:left;margin-right:1em;">
<img onerror="this.onerror=null; this.src='/images/ppc-logo-bw.png'"
src="/images/ppc-logo.svg" alt="PPC" style="height:6em;margin-bottom:1em;"><br>
<img onerror="this.onerror=null; this.src='/images/icops-logo.png'"
src="/images/icops-logo.svg" alt="ICOPS" style="width:6.8em;margin-top:1em;margin-bottom:1em;"><br>
<a href="/images/poster_small.png">
<img onerror="this.onerror=null; this.src='/images/poster_thumb.png'"
src="/images/poster_thumb.png" alt="PPPS2019 Poster" style="width:6.8em;margin-top:1em;margin-bottom:1em;">
</a>
</div>
<div markdown="1">
The **2019 IEEE Pulsed Power and Plasma Science Conference** is the premier international conference dedicated to pulsed power and plasma science, combining the IEEE International Conference on Plasma Science and the IEEE International Pulsed Power Conference.

The conference will be held from 23 June to 28 June, 2019, at the [DoubleTree by Hilton Hotel](http://doubletree3.hilton.com/en/hotels/florida/doubletree-by-hilton-hotel-at-the-entrance-to-universal-orlando-MCOUNDT/index.html) in Orlando, FL, USA.

Sponsored by the [IEEE Nuclear and Plasma Sciences Society](http://ieee-npss.org/).
</div>