<div style="float:left;margin-right:1em;margin-bottom:1em;">
<img onerror="this.onerror=null; this.src='/images/ppc-logo-bw.png'"
src="/images/ppc-logo.svg" alt="PPC" style="height:7em;margin-bottom:1em;"><br>
<img src="/images/icops-logo.png" alt="ICOPS" style="width:8em;margin-left:-0.8em;margin-top:0.5em;margin-bottom:0.5em;"><br>
<a href="/images/poster_small.png">
<img onerror="this.onerror=null; this.src='/images/poster_thumb.png'"
src="/images/poster_thumb.png" alt="PPPS2019 Poster" style="width:6.8em;margin-top:1em;margin-bottom:1em;"></a><br>
<a href="/news/conference-flyer/"><small><em>PPPS 2019 Poster</em></small></a>
</div>

<div markdown="1">
The **2019 IEEE Pulsed Power and Plasma Science Conference** (PPPS 2019) is the premier international conference dedicated to pulsed power and plasma science, combining the IEEE International Conference on Plasma Science and the IEEE International Pulsed Power Conference.

The conference will be held from 23 June to 28 June, 2019, at the [DoubleTree at the Entrance to Universal Orlando]({{ site.baseurl }}{% link _info_articles/accommodations.md %}) in Orlando, FL, USA.

Sponsored by the [IEEE Nuclear and Plasma Sciences Society](http://ieee-npss.org/).
</div>