<nav id="nav-primary" class="site-nav" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <ul id="menu-main-navigation" class="menu">
    <!-- Home link -->
    <li class="menu-item">
      <a href="{{ '/' | relative_url }}" itemprop="url">
        <span itemprop="name">{{ site.data.theme.t.home | default: 'Home' }}</span>
      </a>
    </li>

    <!-- News link -->
    <li class="menu-item">
      <a href="{{ '/news/' | relative_url }}" itemprop="url">
        <span itemprop="name">{{ site.data.theme.t.news | default: 'News' }}</span>
      </a>
    </li>

    <!-- site.pages links -->
    {% assign default_paths = site.pages | map: "path" %}

  {% for link in site.info_articles %}
        {% if link.url contains 'http' %}
            {% assign domain = '' %}
            {% else %}
            {% assign domain = site.url %}
        {% endif %}
        <li class="menu-item">
        <a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %} itemprop="url">
        <span itemprop="name">{{ link.title | escape }}</span>
        </a>
        </li>
  {% endfor %}

  </ul>
  
</nav>

  <img src="/images/ieee-logo.gif" alt="IEEE Logo" style="width:8em;margin-right:1em;"><br/>
  <img src="/images/npss-logo.png" alt="NPSS Logo" style="width:8em;margin-top:1em;">
