/* ==========================================================================
   trying to make a "gallery" where three images can appear on a row
   ========================================================================== */
@mixin rounded {
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
} 


.gallery div.item {
    display: block;
    margin: 1em;
    width: 140px;
    @include breakpoint($medium) {
        width: 140px;
        display: inline;
        float: left;
    }

}

.gallery .item .bio-photo {
		display: block;
		width: 140px;
		height: 140px;
		margin-bottom: 10px;
		@include rounded;
		@include clearfix;

	@include breakpoint($medium) {
		display: block;
		width: 140px;
		height: 140px;
		margin-bottom: 10px;
		@include rounded;
		@include clearfix;
	}
}

.gallery-ender {
    @include clearfix;
}

img.exlogo{
    height: 7rem;
    width: 90vw;
    object-fit: contain;
    object-position: 0% 50%;
    padding-bottom: 1rem;
    @include breakpoint($medium) {
        height: 7rem;
        width: 40vw;
        object-fit: contain;
        object-position: 0% 50%;
        padding-bottom: 2rem;
    }
}

img.plenary-bio{
    width: 10rem;
    object-fit: contain;
    object-position: 0% 50%;
    float: left;
    padding: 1rem;
    @include breakpoint($medium) {
        width: 14rem;
        object-fit: contain;
        object-position: 0% 50%;
    }
}

.plenary-date{
    font-weight: bold;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}