/* ==========================================================================
   trying to make a "gallery" where three images can appear on a row
   ========================================================================== */
@mixin rounded {
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
} 


.gallery div.item {
    display: block;
    margin: 1em;
    width: 140px;
    @include breakpoint($medium) {
        width: 140px;
        display: inline;
        float: left;
    }

}

.gallery .item .bio-photo {
		display: block;
		width: 140px;
		height: 140px;
		margin-bottom: 10px;
		@include rounded;
		@include clearfix;

	@include breakpoint($medium) {
		display: block;
		width: 140px;
		height: 140px;
		margin-bottom: 10px;
		@include rounded;
		@include clearfix;
	}
}

.gallery-ender {
    @include clearfix;
}